@using Cinema.Core.Models.Projection
@model IEnumerable<ProjectionViewModel>

@{
    ViewBag.Title = "All Projection";
}

<div class="text-center row">
   
        @foreach (var projection in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@projection.Movie.ImageURL" alt="Movie Image">
           
            <div class="card-body">

                <h5 class="card-title mt-1">@projection.Movie.Title</h5>
                
                <p class="mb-0">Hall: @projection.Hall</p>

                <p class="mb-0">Projection Time: @projection.StartMovie</p>

                
            </div>

            <form class="input-group-sm" asp-route-projectionId="@projection.Id" asp-controller="Projections" asp-action="AllProjection" method="post">
                <input type="submit" value="Book" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }   
</div>